.ui-tab-width {
	display: inline-block;
	margin-left: 2%;
}

.ui-tabs-container {
	position: relative;
	height: 70vh;
}

.ui-tabs {
	position: relative;
	list-style: none;
}

.tab-left {
	left: 10%;
}

.tab-right {
	
	right: 10%;
}

@media only screen and (max-width: 600px) {
	.ui-tabs {
		position: unset;
	}
	
	.tab-left {
		position: unset;
	}
	
	.tab-right {
		position: unset;
	}
}
